<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>Page title</title>  
  </head>
  <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/css/app.css" type="text/css" title="no title" charset="utf-8">
  <body>
    
    <div class="container">
      <h1>Heroku Apps Overview</h1>
      <%= erb :_app_views, :locals => {:uid => 'active', :apps => @has_dynos} %>
      <%= erb :_app_views, :locals => {:uid => 'inactive', :apps => @no_dynos} %>
    </div>
      
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>